# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Docker
*.tar

#Terraform
# Local Terraform directories and files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
